@use "variables" as v;

header {
    padding: 0.75rem 1.5rem;
    border-bottom: 0.3rem solid v.$color-primary;
    text-align: center;
    position: relative;

    .mainLogo {
        width: 10rem;
        cursor: pointer;
    }

    .basketContainer {
        display: inline-block;
        position: absolute;
        justify-content: end;
        width: 60%;
    }

    .basket {
        width: 5rem;
        cursor: pointer;

    }
}